 @model IEnumerable<AutoVente.Models.Model>
@using AutoVente.Extensions;
@using AutoVente.ViewsModels

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Models</h2>
@Html.Partial("_Notifications")
<section >
    @if (TempData["CreateModel"] != null)
    {
        @Html.Partial("_PartialCreateModel", new ModelMarqueViewModel())


    }
</section>
<section id="no-more-tables">
    <table class="table table-bordered table-striped table-condensed cf text-center table-layout vertical-align">
        <thead class="cf ">
            <tr class="custom-tr text-center">
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    Marque
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero) Model
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carburent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmissionCo2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Annee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PuissanceReel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NbPlaces)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BoiteDeVitesse)
                </th>

                <th class="th-custom-button">
                    @if (TempData["CreateModel"] != null)
                    {
                        @*<a href="~/Model" class=" btn btn-info fontBlack"><i class="fas fa-undo-alt"></i><span class="noPhone"> Annuler</span></a>*@
                    }
                    else
                    {
                        <a href="~/Model/Create" class=" btn btn-info fontBlack btnAllwidth "><i class="fas fa-plus"></i><span class="noPhone"> Nouveau Model</span></a>

                    }
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {

            bool isCreate = false;


            if (TempData["NomModel"] != null && item.Nom.ToString() == TempData["NomModel"].ToString())
            {
                isCreate = true;


            }

            <tr class="@Html.Conditional(isCreate, "bg-success", "")">

                
                <td id="detail-btn-@item.Id" class="detail-btn align-self-center ">
                    <i class="fas fa-2x fa-plus-circle"></i>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>

                <td data-title="@Html.DisplayNameFor(model => model.Marque.Nom)">
                    @Html.DisplayFor(modelItem => item.Marque.Nom)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.Numero)">
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.Carburent)">
                    @Html.DisplayFor(modelItem => item.Carburent)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.EmissionCo2)">
                    @Html.DisplayFor(modelItem => item.EmissionCo2)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.Annee)">
                    @Html.DisplayFor(modelItem => item.Annee)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.PuissanceReel)">
                    @Html.DisplayFor(modelItem => item.PuissanceReel)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.NbPlaces)">
                    @Html.DisplayFor(modelItem => item.NbPlaces)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.Type)">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.Prix)">
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>
                <td data-title="@Html.DisplayNameFor(model => model.BoiteDeVitesse)">
                    @Html.DisplayFor(modelItem => item.BoiteDeVitesse)
                </td>

                <td class="btn-td">


                    <a class="btnAllwidth button btn btn-danger fontBlack " data-toggle="modal" data-target="#@item.Id">
                        <i class="fas fa-trash-alt "></i><span class="noPhone"> Supprimer</span>
                    </a>

                    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Vous êtes entrain de supprimer Le Model @item.Nom;
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="/Model/Delete/@item.Id">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Annuler</button>
                                        <input type="submit" class="btn btn-danger" value="Valider">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            <tr class="hidden" id="detail-tr-@item.Id" data-id="@item.Id">
                <td colspan="100" data-title="Couleurs models">
                    @if (TempData["AddModelouleurs" + @item.Id] != null)

                    {
                       
                        @Html.Partial("_PartialCouleursAdd", new CouleurModelViewModel(item))

                    }
                    else
                    {
                    <div class=" d-flex flex-row  justify-content-between">
                        <div class="p-2 row row-flex w-75  ">
                            @foreach (var couleur in item.Couleurs)
                            {

                                <div class=" col-md-2 col-sm-6 col-xs-12 ">
                                    <p>
                                        @couleur.Nom
                                    </p>
                                    <input type="color" name="Color" id="ColorPicker" value="@couleur.CodeCouleur" disabled />
                                </div>
                               
                            }
                        </div>
                      
                   
                        <div class="p-4 w-25 row row-flex justify-content-end align-items-start">
                            <a href="~/Model/Couleur/@item.Id" class=" btn btn-info fontBlack btnNouvelleCouleur"><i class="fas fa-plus"></i><span class="noTable">Nouvelle couleur </span></a>
                        </div>
                     </div>
                    }
                </td>
              
            </tr>

        }

    </table>
</section>

<script src="~/Content/Admin/lib/detailTable.js"></script>