@model IEnumerable<AutoVente.Models.Couleur>
@using AutoVente.Models

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Liste des couleurs</h1>

@Html.Partial("_Notifications")
<section class="smallerContent">
    <table class="table table-bordered table-striped table-condensed table-couleur">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                <span>Aperçu</span>
            </th>
            <th class="noPhone">
                @Html.DisplayNameFor(model => model.CodeCouleur)
            </th>
            @if (TempData["couleurAdd"] != null)
            {
                <th>
                    <a href="~/Couleur" class="btnPersoCouleur btn btn-info fontBlack"><i class="fas fa-undo-alt"></i><span class="noPhone"> Annuler</span></a>
                </th>
            }
            else
            {
                <th>
                    <a href="~/Couleur/Create" class="btnPersoCouleur btn btn-info fontBlack"><i class="fas fa-plus"></i><span class="noPhone"> Nouvelle couleur</span></a>
                </th>
            }

        </tr>
        <tr>
            @if (TempData["couleurAdd"] != null)
            {
                @Html.Partial("_PartialCouleurAdd", new Couleur())
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    <input type="color" name="Color" id="ColorPicker" value="@item.CodeCouleur" disabled />
                </td>
                <td class="noPhone">
                    @Html.DisplayFor(modelItem => item.CodeCouleur)
                </td>
                <td>

                    @if (!item.Vehicules.Any())
                    {
                        <button type="button" class="btn btn-danger btnPersoCouleur fontBlack" data-toggle="modal" data-target="#@item.Id">
                            <i class="fas fa-trash-alt"></i><span class="noPhone"> Supprimer</span>
                        </button>
                    }

                    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Supprimer</h3>
                                </div>
                                <div class="modal-body">
                                    Etes-vous sûr de vouloir supprimer cette couleur ?
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="/Couleur/Delete/@item.Id">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Annuler</button>
                                        <input type="submit" class="btn btn-danger" value="Valider">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</section>


