@model IEnumerable<AutoVente.Models.Couleur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<section>
    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(model => model.Nom)</th>
                            <th class="hidden-phone"> Aperçu</th>
                            <th> @Html.DisplayNameFor(model => model.CodeCouleur)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td>
                                    <input type="color" name="Color" value="@item.CodeCouleur" disabled />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodeCouleur)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", "Couleur", new { id = item.Id })"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Couleur", new { id = item.Id })"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>