@model AutoVente.Models.Marque


@using (Html.BeginForm("Create", "Marque"))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <td data-title="@Html.DisplayNameFor(model => model.Nom)">
        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
    </td>
    <td data-title="@Html.DisplayNameFor(model => model.Origine)">
        @Html.EnumDropDownListFor(model => model.Origine, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Origine, "", new { @class = "text-danger" })
    </td>

    <td>
        <button type="submit" class="btn btn-success  fontBlack"><i class="fas fa-check"></i><span class="noPhone"> Valider</span></button>
    </td>

}