@using AutoVente.Models
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Favicons -->
    <link href="~/Content/Admin/img/favicon.png" rel="icon">
    <link href="~/Content/Admin/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->

    <link href="~/Content/Admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    @*<link href="~/Content/Admin/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />*@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    <link href="~/Content/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/style-responsive.css" rel="stylesheet">
    <link href="~/Content/Admin/css/table-responsive.css" rel="stylesheet" />

    <link href="~/Content/Admin/css/CustomStyle.css" rel="stylesheet" />



    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
            TOP BAR CONTENT & NOTIFICATIONS
            *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DASH<span>IO</span></b></a>
            <!--logo end-->

            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="@Url.Action("Logout","Login")">Logout</a></li>
                </ul>
            </div>
        </header>
        <!--header end-->
        <!-- **********************************************************************************************************************************************************
            MAIN SIDEBAR MENU
            *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            @{
                bool isAdmin = false;
                if (Session["Role"] != null)
                {
                    if ((AutoVente.Models.Roles) Session["Role"] == AutoVente.Models.Roles.ADMINISTRATEUR)
                    {
                        isAdmin = true;
                    }
                    <div id="sidebar" class="nav-collapse ">
                        <!-- sidebar menu start-->
                                    <ul class="sidebar-menu" id="nav-accordion">
                                        <li class="mt">
                                            <a href="@Url.Action("Index","Admin")">
                                                <i class="fa fa-dashboard"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li class="mt">
                                            <a href="@Url.Action("Index","Home")">
                                                <i class="fa fa-sitemap"></i>
                                                <span>Site</span>
                                            </a>
                                        </li>

                                        <li class="mt">
                                            <a href="@Url.Action("Index","Message")">
                                                <i class="fas fa-envelope"></i>
                                                <span>Messages</span>
                                            </a>
                                        </li>
                                        <li class="mt">
                                            <a href="@Url.Action("Index","Vehicule")">
                                                <i class="fas fa-car"></i>
                                                <span>Véhicules</span>
                                            </a>
                                        </li>
                                        @{
                                            if (isAdmin)
                                            {
                                                <li class="mt">
                                                    <a href="@Url.Action("Index","Couleur")">
                                                        <i class="fas fa-palette"></i>
                                                        <span>Couleurs</span>
                                                    </a>
                                                </li>
                                                <li class="mt">
                                                    <a href="@Url.Action("Index","Marque")">
                                                        <i class="fab fa-ioxhost"></i>
                                                        <span>Marques</span>
                                                    </a>
                                                </li>
                                                <li class="mt">
                                                    <a href="@Url.Action("Index","Model")">
                                                        <i class="fab fa-medium"></i>
                                                        <span>Models</span>
                                                    </a>
                                                </li>

                                                <li class="mt">
                                                    <a href="@Url.Action("AllUtilisateurs","Admin")">
                                                        <i class="fas fa-users"></i>
                                                        <span>Utilisateurs</span>
                                                    </a>
                                                </li>
                                            }
                                        }


                                    </ul>
                        <!-- sidebar menu end-->
                    </div>

                }
            }

        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
            MAIN CONTENT
            *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                <div class="row mt">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </section>
            <!-- /wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                <p>
                    &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
                </p>
                <div class="credits">
                    <!--
                      You are NOT allowed to delete the credit link to TemplateMag with free version.
                      You can delete the credit link only if you bought the pro version.
                      Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                      Licensing information: https://templatemag.com/license/
                    -->
                    Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
                </div>
                <a href="blank.html#" class="go-top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content/Admin/lib/jquery/jquery.min.js"></script>
    <script src="~/Content/Admin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Content/Admin/lib/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="~/Content/Admin/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Content/Admin/lib/jquery.scrollTo.min.js"></script>
    <script src="~/Content/Admin/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="~/content/admin/lib/common-scripts.js"></script>

</body>

</html>
