@model AutoVente.Models.Utilisateur

@{
    ViewBag.Title = "Connexion";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        @Html.Partial("_Notifications")
    </div>
    <div class=" container form-horizontal">
       
        <div class="form-group ">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 mb-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 mb-2 mt-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2 d-flex justify-content-around">
            <div class="col-md-offset-2 col-md-5 w-50">
                <input type="submit" value="Connexion" class="btn btn-info" />
            </div>
            <div class="col-md-offset-2 col-md-5 w-50">
                <a class="link-info" href="@Url.Action("Create","Utilisateur")">Cree votre compte</a>
            </div>
        </div>
    </div>
}

